# See docker-compose for all env options
CARBONIO_MAILBOX_IMAGE=mailbox-local-build:v1
CARBONIO_SHELL_UI_IMAGE=registry.dev.zextras.com/dev/carbonio-shell-ui:devel
CARBONIO_FILES_UI_IMAGE=registry.dev.zextras.com/dev/carbonio-shell-ui:my-branch